.container {
  background-color: #161e2c !important;
  display: flex;
  flex-direction: column;
}

.title {
  color: white;
  text-align: center;
}
.title:hover {
  color: #bdedba !important;
}

.sourcesCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
